{% extends 'FocalHUB/base.html' %}

{% block content %}

<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center mt-5 mb-5" data-aos="fade" data-aos-delay="1500">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2><span>FocalHUB</span> a Professional Photographer Website to share your pictures with the world.</h2>
        <p>Share your best pictures, show your skills, give love to other's work.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-lg-4 text-center">
        <a href="/feed" class="btn btn-transparent btn-outline-secondary btn-lg">FEED</a>
      </div>
      <div class="col-lg-4 text-center">
        <a href="/trending" class="btn btn-transparent btn-outline-secondary btn-lg">TRENDING</a>
      </div>
    </div>
  </div>
</section>

    <div id="preloader">
    <div class="line"></div>
  </div>
{% endblock %}