{% extends 'FocalHUB/base.html' %}

{% block content %}

  <main id="main">

    <!-- Page Header  -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Signup</h2>
            <p>Create a new account to share photos.</p>
          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- Content Section  -->
    <section id="contact" class="contact">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                        <form method="post" class="needs-validation" novalidate>
                          {% csrf_token %}

                          <!-- Username input -->
                          <div class="form-outline mb-4">
                            <label class="form-label text-white" for="registerName">Username</label>
                            <input type="text" name="{{ form.username.name }}" id="registerName" class="form-control" required>
                          </div>


                          <!-- Password input -->
                          <div class="form-outline mb-4">
                            <label class="form-label text-white" for="registerPassword">Password</label>
                            <input type="password" name="{{ form.password1.name }}" id="registerPassword" class="form-control" required>
                            <small class="text-muted">Password must meet the following criteria:</small>
                            <ul class="text-muted">
                              <li>At least 8 characters long</li>
                              <li>Contains at least one uppercase letter</li>
                              <li>Contains at least one lowercase letter</li>
                              <li>Contains at least one number</li>
                              <li>Contains at least one special character</li>
                            </ul>
                          </div>

                          <!-- Password verification -->
                          <div class="form-outline mb-4">
                            <label class="form-label text-white" for="registerPasswordVerify">Verify Password</label>
                            <input type="password" name="{{ form.password2.name }}" id="registerPasswordVerify" class="form-control" required>
                          </div>

                          <!-- Submit button -->
                          <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block mb-4" style="background-color: #32a852; width: 100%; border: none;">Signup</button>
                          </div>

                          <!-- Login link -->
                          <div class="text-center">
                            <p class="text-white">Already a member? <a href="{% url 'login-page' %}" style="color: #32a852;">Login</a></p>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Content Section -->

  </main>
{% endblock %}
